@font-face {
  font-family:'Typo_Round_Light_Demo';
  src: url(../css/fonts/Typo_Round_Light_Demo.otf);
}
@font-face {
  font-family: 'Righteous-Regular';
  src: url(../css/fonts/Righteous-Regular.ttf);
}
* {
  box-sizing: border-box;
}
body, html {
  font-size: 1.1rem;
  margin: 0; 
  padding: 0;
  scroll-behavior: smooth;
}
body {
  background-color: #F2F2F2;
  font-family: 'Typo_Round_Light_Demo', sans-serif;
  position: relative;
  color: #384328;
}
a {
  color: white;
  text-decoration: none;
}
h1 {
  font-family: 'Righteous-Regular';
  margin: 0;
  -webkit-animation: text-shadow-drop-br 3s both;
          animation: text-shadow-drop-br 3s both;
}
@-webkit-keyframes text-shadow-drop-br {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 6px 6px 18px rgba(0, 0, 0, 0.35);
  }
}
@keyframes text-shadow-drop-br {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 6px 6px 18px rgba(0, 0, 0, 0.35);
  }
}
h2 {
  color: #384328;
  font-size: 1.4rem;
}
h3 {
  font-size: 1.2rem;
  font-weight: 600;
}
h4 {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 15px 0 10px;
}
h5 {
  font-size: 1rem;
  margin-bottom: 20px;
}
.container {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 1110px;
}
.sr-only {
  display: none;
}
.paraph, .dot {
  font-family: 'Roboto', sans-serif;
}

/* ---- Nav ---- */
nav {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  z-index: 2;
}

header li {
  padding-top: 9px;
}
header nav{
  height: 50px;
}
nav, .nav-list ul, .nav-account ul, .container {
  display: flex;
  list-style: none;
  margin-top: 0;
}
.nav-account img {
  padding-right: 6px;
}
.nav-list, .nav-account {
  padding: 5px;
}
.nav-list ul {
  padding-left: 0;
}
.nav-list li, .nav-account li {
  padding-right: 50px;           
}
.nav-account li:first-of-type {
  display: inline-block;
}
nav a:hover {
  color:#e17d5d;
}
nav img {
  height: 70%;
}
nav i {
  margin-right: 10px;
}
.bars {  /*responsive*/
  display: none;
}
li.panier {
  padding-right: 0px;
}

/* Boutons */
.btn {
  background-color: #392316;
  border: 1px solid #392316;
  box-shadow: 1px 1px 4px black;
  color: white;
  display: inline-block;
  font-size: 1.7rem;
  padding: 5px 70px;
  text-align: center;
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}
.btn:hover {
  box-shadow: 2px 2px 2px 0.4px rgba(0,0,0,0.36);
  font-size: 1.4rem;
}
.btn-outline {
  background-color: transparent;
  color: #392316;
}
/* btn catégorie */
.btn-secondary {
  background-color: #e17d5d;
  border-color: #e17d5d;
  bottom: 30px;
  left: 30px;
  display: flex;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 80%;
}
.btn-center {
  left: 75px;
  width: 70%;
}
/* btn articles & btn promotion */
.btn-shopping, .btn-promo, .btn-newsletter, 
.btn-shopping:hover, .btn-promo:hover {
  font-size: 1rem;
}
.btn-shopping, .btn-promo {
  background-color: transparent;
  border: 2px solid #384328;
  color: #384328;
  font-family:'Typo_Round_Light_Demo';
  font-weight: 800;
  padding: 8px 20px;
  transition: 1s;
}
.btn-shopping:hover, .btn-promo:hover, .btn-newsletter:hover {
  background-color: #384328;
  border: 2px solid #384328;
  color: white;
  font-size: 0.9rem;
}
.btn-promo {
  padding: 8px 50px;
}
.btn-newsletter:hover {
  background-color: #384328;
  border: none;
}
/* btn newsletter */
.btn-newsletter {
  background-color: black;
  border: none;
  font-family: 'Typo_Round_Light_Demo', sans-serif;
  margin-left: 20px;
  padding: 10px 29px;
} 

/* ---- Ancre ---- */
.ancre a {
  background-color: #384328;
  border-radius: 50%;
  bottom: 5%;
  box-shadow: 2px 1px 10px 0px rgba(0,0,0,0.5);
  height: 60px;
  left: 95%;
  position: fixed;
  width: 60px;
  z-index: 1;
}
.ancre a:hover {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
.ancre img {
  margin: 15px 11px;
  width: 70%;
}

/* ---- Logos ^0^ ---- */
.logo {
  height: auto;
  width: 110px;
  -webkit-animation: rotate-scale-up-ver 0.65s linear both;
          animation: rotate-scale-up-ver 0.65s linear both;
  } 
 -webkit-animation: rotate-scale-up-ver 0.65s ease-in both;
         animation: rotate-scale-up-ver 0.65s ease-in both;
@-webkit-keyframes rotate-scale-up-ver {
0% {
-webkit-transform: scale(1) rotateY(0);
     transform: scale(1) rotateY(0);
}
50% {
-webkit-transform: scale(2) rotateY(180deg);
     transform: scale(2) rotateY(180deg);
}
100% {
-webkit-transform: scale(1) rotateY(360deg);
     transform: scale(1) rotateY(360deg);
}
}
@keyframes rotate-scale-up-ver {
0% {
-webkit-transform: scale(1) rotateY(0);
     transform: scale(1) rotateY(0);
}
50% {
-webkit-transform: scale(2) rotateY(180deg);
     transform: scale(2) rotateY(180deg);
}
100% {
-webkit-transform: scale(1) rotateY(360deg);
     transform: scale(1) rotateY(360deg);
}
}

/* http://angrytools.com/css/animation */ 
.logo:hover, .footer-end img:hover { 
  animation-name: focus-in-contract;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes focus-in-contract {
  0%{
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  10%{
  }
  2%{
  }
  100%{
    filter: blur(0);
    opacity: 1;
  }
}


/* ---- FOOTER ---- */
footer {
  background-color: #392316;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer ul {
  font-size: 0.9rem;
  list-style-type: none;
}
footer a:hover {
  text-decoration: underline;
}
footer p {
  margin: 0;
}
.column-us ul, .column-faq ul, .column-info ul {
  padding-left: 0px;
}
.column-icons img {
  margin-right: 25px;
  width: 35px;
}
.column-icons img:hover {
  -webkit-animation: rotate-scale-up-ver 0.65s ease-in both;
          animation: rotate-scale-up-ver 0.65s ease-in both;
}
  @-webkit-keyframes rotate-scale-up-ver {
    0% {
      -webkit-transform: scale(1) rotateY(0);
              transform: scale(1) rotateY(0);
    }
    50% {
      -webkit-transform: scale(2) rotateY(180deg);
              transform: scale(2) rotateY(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateY(360deg);
              transform: scale(1) rotateY(360deg);
    }
  }
  @keyframes rotate-scale-up-ver {
    0% {
      -webkit-transform: scale(1) rotateY(0);
              transform: scale(1) rotateY(0);
    }
    50% {
      -webkit-transform: scale(2) rotateY(180deg);
              transform: scale(2) rotateY(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateY(360deg);
              transform: scale(1) rotateY(360deg);
    }
  }
.footer-end {
  font-size: 0.8rem;
  margin-top: 30px;
  text-align: center;
}


/* ---- HEADER ---- */
header {
  background-image: url("../image/img-principale-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 760px;
  margin-bottom: 80px;
  text-align: center;
}
li img {
  width: 26px;
}
.footer-end img {
    width: 100px;
}
.title {
  color: white;
  font-family: 'Righteous', cursive;
  font-size: 1.6rem;
  padding-top: 315px;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.2em grey;
}
.title p {
  font-family: 'Righteous-Regular';
  font-size: 2.3rem;
  margin: 10px 0 110px;
  -webkit-animation: text-shadow-drop-br 0.6s both;
          animation: text-shadow-drop-br 0.6s both;
}
  @-webkit-keyframes text-shadow-drop-br {
  0% {
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
  text-shadow: 6px 6px 18px rgba(0, 0, 0, 0.35);
  }
  }
  @keyframes text-shadow-drop-br {
  0% {
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
  text-shadow: 6px 6px 18px rgba(0, 0, 0, 0.35);
  }
  }
section {
  display: flex;
  margin: 80px 0;
}
.account-ctn-portable {
  visibility: hidden;
}
.account-ctn {
  display: block;
}


/* ---- CATEGORIES ---- */
.category-ctn {
  height: auto;
}
.recipe, .grocery-stores, .left-category, .right-category, 
.category-center  {
  position: relative;
}
.recipe, .cosmetics, .grocery-stores, .decoration {
  height: 269px;
	-webkit-animation: shadow-drop-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
  @-webkit-keyframes shadow-drop-br {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
              box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-br {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
              box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }
.cosmetics, .decoration {
  margin-top: 29px;
  height: 370px
}
.category-center {
  position: relative;
  width: 50%;
}
.art-table img {
  opacity: 1;
  display: block;
  height: 100%;
  margin: 0 auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
/* Overlay */
.txt-overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translate(-50%, -90%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.category-center:hover img {
  opacity: 0.4;
}
.category-center:hover .txt-overlay {
  opacity: 1;
}
.txt-overlay p {
  border: 1px solid #392316;
  border-radius: 60%;
  color: #392316;
  font-size: 1.9rem;
  font-weight: 800;
  height: 470px;
  padding: 130px 20px;
  width: 395px;
}


/* ---- ARTICLES ----*/
.product p {
  font-weight: 800;
  margin-bottom: 21px;
}
.shopping {
  border: 3px solid #384328;
  display: flex;
  padding: 10px;
  -webkit-animation: shadow-drop-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: shadow-drop-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.product {
  padding: 10px;
  text-align: center;
}
.favorite {
  bottom: 35px;
  color: black;
  font-size: 1.5rem;
  right: 0;
  position: absolute;
}
.favorite:hover {
  color: #e17d5d;
  -webkit-animation: rotate-scale-up-ver 0.65s ease-in both;
          animation: rotate-scale-up-ver 0.65s ease-in both;
}
  @-webkit-keyframes rotate-scale-up-ver {
    0% {
      -webkit-transform: scale(1) rotateY(0);
              transform: scale(1) rotateY(0);
    }
    50% {
      -webkit-transform: scale(2) rotateY(180deg);
              transform: scale(2) rotateY(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateY(360deg);
              transform: scale(1) rotateY(360deg);
    }
  }
  @keyframes rotate-scale-up-ver {
    0% {
      -webkit-transform: scale(1) rotateY(0);
              transform: scale(1) rotateY(0);
    }
    50% {
      -webkit-transform: scale(2) rotateY(180deg);
              transform: scale(2) rotateY(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateY(360deg);
              transform: scale(1) rotateY(360deg);
    }
  }
.product-ctn {
  position: relative;
}


/* ---- PROMOTION ---- */
.promotion {
  background-color: #C4C4C4;
  display: flex;
  flex-direction: column;
}
.promotion p {
  margin: 0 0 30px;
}
.container.promo-text-and-btn {
  align-items: center;
  display: flex;
}
.ctn-img-promo {
  display: flex;
  width: 100%;
}
.ctn-img-promo img {
  padding: 0;
  width: 12.5%;
}

/* ---- AVANTAGES ---- */
.benefits-ctn {
  align-items: end;
  display: flex;
  margin-bottom: 80px
}
.benefits {
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  -webkit-animation: shadow-drop-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: shadow-drop-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.benefits img {
  width: 100px;  @-webkit-keyframes shadow-drop-br {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
            box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
  }
  @keyframes shadow-drop-br {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
            box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
  }
}
.samples {
  width: 340px;
  padding: 30px
}
.samples p {
  font-size: 0.8rem;
  margin: 0;
}


/* ---- NEWSLETTER ---- */
.newsletter {
  align-items: center;
  background-image: url(../image/img-newsletter.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 130px;
  width: 100%;
}
form.inscription {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
#newsletter {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  color: black;
  display: flex;
  font-family:'Rounded_Elegance', sans-serif;
  font-size: 1rem;
  height: 40px;
  margin-left: 180px;
  padding-left: 10px;
  width: 330px;
}
.newsletter p {
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 800;
  text-shadow:  0 0 15px #FFF, 0 0 30px #49FF18, -23px -26px 4px rgba(146,63,39,0);
}
